<div class="container d-flex justify-content-start mt-5">
  <div class="col-1"></div>

  <div class="col-6">
    <div class="row d-flex flex-row">
      <div class="col">
        <div class="row">
          <p style="margin-bottom: 0px"><mat-icon>draw</mat-icon>Inhalt</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <p style="margin-bottom: 0px"><mat-icon>crop_free</mat-icon>Seiten</p>
    </div>
  </div>
</div>
<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <div class="col d-flex" style="min-height: 100vh">
    <div
      class="col-1 d-flex justify-content-start align-items-center flex-column"
    >
      <button
        mat-icon-button
        (click)="generateModifiedPdf()"
        class="icon-button-large"
      >
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="toggleDragAndDrop()"
        class="icon-button-large"
      >
        <mat-icon>drag_indicator</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="generateDefaultPDFs()"
        class="icon-button-large"
      >
        <mat-icon>dynamic_feed</mat-icon>
      </button>
    </div>
    <div
      class="col-6 d-flex justify-content-start align-items-center flex-column border"
    >
      <div class="row d-flex w-100 mt-5 border-bottom align-items-center">
        <mat-form-field style="max-width: 400px">
          <mat-label>Neue PDF</mat-label
          ><input
            matInput
            type="text"
            id="pdfName"
            [(ngModel)]="newPdfName"
            style="max-width: 50%"
        /></mat-form-field>

        <button mat-icon-button (click)="addPdf(newPdfName)" class="mb-3">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngIf="isDragAndDropEnabled">
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box justify-content-between"
            *ngFor="let pdf of pdfs"
            cdkDrag
          >
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="d-flex">
              <mat-icon>description</mat-icon>

              <p style="margin-bottom: 0px; margin-top: 2px">
                {{ pdf.name }}
              </p>
            </div>
            <div>
              <p style="margin-bottom: 0px">
                Seite {{ pdf.range?.start }} bis {{ pdf.range?.end }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isDragAndDropEnabled" class="w-100">
        <div class="example-list">
          <div
            class="example-box justify-content-between"
            *ngFor="let pdf of pdfs"
            [style.color]="getColorForPdf(pdf)"
          >
            <div class="d-flex justify-content-center align-items-center">
              <mat-icon>description</mat-icon>

              <!-- Display the PDF name -->
              <p style="margin-bottom: 0px" *ngIf="!pdf.isEditing">
                {{ pdf.name }}
              </p>

              <!-- Input field for editing the PDF name -->
              <input
                *ngIf="pdf.isEditing"
                [(ngModel)]="editedName"
                placeholder="Enter new name"
              />

              <div *ngIf="pdf.filePath === null">
                <button mat-icon-button (click)="fileInput.click()">
                  <mat-icon>publish</mat-icon>
                </button>
                <input
                  hidden
                  (change)="onFileSelected($event, pdf.id, false)"
                  #fileInput
                  type="file"
                  accept=".pdf"
                />
              </div>

              <!-- Button to toggle editing mode -->
              <button mat-icon-button (click)="toggleEdit(pdf)">
                <mat-icon>{{ pdf.isEditing ? "done" : "edit" }}</mat-icon>
              </button>

              <!-- Other buttons (editBauteil, delete) -->

              <button mat-icon-button (click)="deletePdf(pdf.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <div>
              <p style="margin-bottom: 0px">
                Seite {{ pdf.range?.start }} bis {{ pdf.range?.end }}
              </p>
            </div>
            <!-- Use a button to trigger the file input -->
          </div>
        </div>
      </div>

      <div *ngIf="hasSpecialCharacters">
        <p style="color: red">PDF hat spezielle Charakter ä,ö,ü.</p>
      </div>
    </div>

    <div
      class="col-6 d-flex flex-column justify-content-center align-items-center border"
    >
      <div *ngFor="let pdf of pdfs; let i = index">
        <ng-container *ngIf="pdf.filePath !== null">
          <!-- New row for each pdf-viewer -->
          <div class="row my-5">
            <div class="col">
              <p style="margin-bottom: 0px; margin-left: 13px">
                Seite {{ i + 1 }} von {{ pdfs.length }} -
                <span style="color: grey">{{ pdf.name }}</span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <pdf-viewer
                [src]="pdf.filePath"
                [render-text]="true"
                [original-size]="false"
                style="width: 400px; height: 500px"
                [show-borders]="true"
              ></pdf-viewer>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
